h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;

}

/*Background Image*/
.background {
    background-image: url(../images/background-image.png);
}

/*Header Tags*/


#nav {
    list-style-type: none;
    margin: 0;
    padding-right: 220px;
    height: 88px;
    background-color: #ffffff;
    padding-bottom: 0;
    border-style: none none solid;
    border-color: #cccccc;
}

li {
    display: inline;    
}

#main-name {
    width: 150px;
    background: #4aaaa5;
    color: #ffffff;
    line-height: 150%;
    padding: 20px 20px;
    margin: 0 175px;
    float: left;
    text-align: center;
    overflow: hidden;
}

#main-about,
#main-portfolio,
#main-contact,
#dividers {   
    float: right;
    margin: 0;
    padding: 32px 8px ;
    font-size: 18px;
    text-align: center;
    overflow: hidden;
}



/*Main Section after ABout Me*/

#about-me{
    color: #4aaaa5;
    font-size: 30px;
    padding-bottom: 15px;
    margin-top: 0;
    border-style: none none solid;
    border-color: #cccccc;
}

.sectionform{
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    background-color: #ffffff;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    width: 1000px;
    margin: 0 auto;
}








#bio-image {
    width: 225px;
    height: 275px;
}

.personal-para{
    width:75%;
    float: right;
    padding-left: 5px;
    margin-top: 0;
}




.content {
    min-height: calc(100vh - 70px);
    padding: 40px 40px 0 40px;
  }

  .footer {
    height: 50px;
    color: #666666;
    text-align: center;
  }
