h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    
}

/*Background Image and Font for overall page*/
body {
    margin: 0;
    background-image: url(../images/background-image.png);
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

/*Header Tags*/
.navBar{
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 88px;
    background-color: #ffffff;
    border-style: none none solid;
    border-color: #cccccc;
}
#nav {
    list-style-type: none;
    padding: 0; 
    position: relative;
    top: 0;
    width: 80%;
    width: 1000px;
    margin: auto;
}

li {
    display: inline;    
}

#main-name {
    width: 150px;
    background: #4aaaa5;
    color: #ffffff;
    line-height: 150%;
    padding: 20px 20px;
    margin: auto;
    float: left;
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
}

#main-about,
#main-portfolio,
#main-contact,
#dividers {   
    float: right;
    margin: 0;
    padding: 15px 8px ;
    font-size: 18px;
    text-align: center;
    overflow: hidden;
}



/*Main Section after ABout Me*/

#about-me{
    color: #4aaaa5;
    font-size: 30px;
    padding-bottom: 15px;
    margin-top: 0;
    border-style: none none solid;
    border-color: #cccccc;
}

.sectionform{
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    background-color: #ffffff;
    padding: 20px 20px 20px 20px;
    width: 955px;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 18px;
    line-height: 30px;
    
}







/*Image design*/
#bio-image {
    width: 22%;
    height: 25%;
}

.personal-para{
    width:75%;
    float: right;
    padding-left: 5px;
    margin-top: 0;
}


/*Contact styling*/
.nameBox,
.emailBox{
    width: 100%;
}


/*Message Box border*/
.messageBox{
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  resize: grab;
}

/*Button style*/
.submitButton {
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}



.content {
    min-height: calc(100vh - 70px);
    padding: 40px 40px 0 40px;
  }

  .footer {
    margin: 0;
    height: 150px;
    color: #666666;
    text-align: center;
    font-size: 12px;
    border-style: none none solid; 
    border-size: 5px;
    border-color: #4aaaa5;
  }

  .clearfix::after{
    content: "";
    clear: both;
    display: table;  
  }